
.updateAnswer .form{
  border-top: 1px solid;
  border-right: 1px solid;
  padding: 0;
}

.updateAnswer .form-row{
  border-bottom: 1px solid;
}

.updateAnswer .form-row .form-group {
  margin-bottom: 0;
  height: 50px;
}
.updateAnswer .form-row .form-group label{
  text-align: center;
  display: block;
  height: 100%;
  line-height: 50px;
  background-color: #e4e4e4;
  padding: 0;
  border-left: 1px solid;
  border-right: 1px solid;
}
.updateAnswer .form-row .form-group .form-control-wrap {
  height: 100%;
  padding: 8px 15px;
  /*border: 1px solid;*/
}
.updateAnswer .form-row .form-group .form-control-wrap .form-control {
  width: 80%;
}

.updateAnswer .form-row .form-group .good-domain span {
  margin-top: 7px;
}

.updateAnswer .form-row .card {
  height: 80px;
}
.updateAnswer .form-row .card label {
  line-height: 80px;
}
.updateAnswer .form-row .card .card-wrap {
  width: 15%;
}

.updateAnswer .form-row .profile {
  height: 180px;
}

.updateAnswer .form-row .profile label {
  line-height: 180px;
}
.updateAnswer .form-row .profile textarea{
  height: 100%;
}