.balanceRecord h1{
  font-size: 20px;
  font-weight: bold!important;
}
.balanceRecord .balance{
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 3px solid;
}

.balanceRecord .balance .userInfo{
  margin: 30px;
  font-size: 18px;
}
.balanceRecord .balance .userInfo span:first-child{
  margin-right: 30px;
}
.balanceRecord .balance .table th{
  text-align: center;
}

.balanceRecord .balance .table th .fa{
  font-size: 16px;
  margin-left: 8px;
}


.balanceRecord .balance .table td{
  text-align: center;
}
.balanceRecord .list .table-wrap .table thead tr th {
  text-align: center;
}

.balanceRecord .list .table-wrap .table-control-wrap{
  margin-top: 15px;
}