
.updateDomain .status .radio {
  position: relative;
}

.updateDomain .status .radio input[type=radio] {
  left: 20px;
  top: 3px;
}

.updateDomain .status .radio:first-child{
  margin-right: 30px;
}


.updateDomain .btns button:first-child{
  margin-right: 30px;
}