
.published .form{
    border-top: 1px solid;
    border-right: 1px solid;
    padding: 0;
}

.published .form-row{
    border-bottom: 1px solid;
}

.published .form-row .form-group {
    margin-bottom: 0;
}
.published .form-row .form-group label{
    text-align: center;
    display: block;
    height: 50px;
    line-height: 50px;
    background-color: #e4e4e4;
    padding: 0;
    border-left: 1px solid;
    border-right: 1px solid;
}
.published .form-row .form-group .form-control-wrap {
    height: 100%;
    padding: 8px 15px;
    /*border: 1px solid;*/
}
.published .form-row .form-group .form-control-wrap .form-control {
    width: 80%;
}

.published .form-row .form-group .good-domain span {
    margin-top: 7px;
}

.published .form-row .card {
    height: 80px;
}
.published .form-row .card label {
    line-height: 80px;
}
.published .form-row .card .card-wrap {
    width: 15%;
}

.published .form-row .profile {
    height: 180px;
}

.published .form-row .profile label {
    line-height: 180px;
}
.published .form-row .profile textarea{
    height: 100%;
}
.idea,.con{
    margin-top:15px;
    padding-left: 5px;
}
.check{
    overflow: hidden;
}
.check .radio input[type="radio"]{
    left: 0px;
    top: 3px;
}
.check .radio:first-child{
    margin-left: 20px;
    margin-right:50px;
}
.check .checkbox:first-child{
    margin-left: 20px;
    margin-right:50px;
}
.question-content p,.idea p,.refuse p{
    border:1px solid #B7D5EA;
    line-height: 20px;
}
.answering{
    height: 80px;
    line-height: 80px;
}
.answerContent .title{
    margin-bottom: 10px;
    font-weight: bold;
}
.answerContent .tip{
    overflow: hidden;
}
.answerContent .con{
    margin-top:10px;
    margin-bottom:10px;
}
.nav-tab{
    margin-bottom:10px;
    overflow: hidden;
}
.nav-tab li{
    background-color: #f2f2f2;
    float: left;
    box-sizing:border-box;
    padding: 10px 40px;
    cursor: pointer;
}
.nav-tab li.active{
    border-top:3px solid #00a2ca;
    background-color: #fbfbfb;
    color:#000;
    font-weight:bold;
}
th{
    text-align: center;
}
.check .checkb input, .check .checkb span {
    display: inline-block;
    vertical-align: middle;
}
.checkbox input[type=checkbox] {
    width: 17px;
    height: 17px;
}
.published .form-row .form-group .form-control-wrap.adviceContent1{
    padding-top: 20px;
}
.published .form-row .form-group .form-control-wrap.adviceContent{
    padding-top: 15px;
}