.pc-process h5 {
  text-indent: 8px;
  font-weight: bold!important;
}
.pc-process .operates .operate-area .steps .panel{
  height: 158px;
  overflow-y: auto;
  border: 1px solid #999;
  border-radius: 0;
}

.pc-process .operates .operate-area .steps .panel .list-group {
  cursor: pointer;
}

.pc-process .operates .operate-area .steps .panel .list-group .active {
  color: #fff;
  background-color: #31708f;
}

.pc-process .operates .operate-area .btns {
  margin-top: 30px;
}

.pc-process .operates .operate-area .btns .btn-r:first-child{
  margin-bottom: 15px;
}

.pc-process .operates .operate-area .btns .btn-r .btn-arrow{
  margin: 0 10px 0 15px;
}

.pc-process .operates .operate-area .btns .up .dropdown .dropdown-menu li{
  cursor: pointer;
}
.pc-process .operates .operate-area .btns .up .dropdown .dropdown-menu li:hover a{
  color: #fff;
  background-color: #31708f;
}

.pc-process .operates .operate-area .btns .down .btn-arrow{
  margin-right: 15px;
}

.pc-process .operates .operate-area .btns .down .del{
  max-width: 90px;
}

.pc-process .operates .operate-area .btns .btn-r .btn-arrow .glyphicon {
  margin-right: 0;
}


.pc-process .area {
  border: 1px solid #999;
  height: 125px;
  padding: 5px 0 0 10px;
  word-break: break-all;
  overflow-y: auto;
}



.pc-process .process-bef .area, .pc-process .process-af .area{
  height: 70px;
}

.pc-process .process-bef .area:hover, .pc-process .process-af .area:hover{
  border-color: #31708f;
}

.pc-process-tip{
  background-color: #000;
  color: #fff;
}


/* 默认 */
.pc-process .step-init {
  padding: 0;
}


/* 输入 */
.pc-process .textarea{
  width: 100%;
  resize: none;
}


/* 替换 */
.pc-process .step-replace .row textarea{
  resize: none;
  height: 50px;
}

.pc-process .step-replace .source{
  margin-bottom: 12px;
}