
.replyAnswer .form{
    border-top: 1px solid;
    border-right: 1px solid;
    padding: 0;
}

.replyAnswer .form-row{
    border-bottom: 1px solid;
}

.replyAnswer .form-row .form-group {
    margin-bottom: 0;
}
.replyAnswer .form-row .form-group label{
    text-align: center;
    display: block;
    height: 100%;
    line-height: 50px;
    background-color: #e4e4e4;
    padding: 0;
    border-left: 1px solid;
    border-right: 1px solid;
}
.replyAnswer .form-row .form-group .form-control-wrap {
    height: 100%;
    padding: 8px 15px;
    /*border: 1px solid;*/
}
.replyAnswer .form-row .form-group .form-control-wrap .form-control {
    width: 80%;
}

.replyAnswer .form-row .form-group .good-domain span {
    margin-top: 7px;
}

.replyAnswer .form-row .card {
    height: 80px;
}
.replyAnswer .form-row .card label {
    line-height: 80px;
}
.replyAnswer .form-row .card .card-wrap {
    width: 15%;
}

.replyAnswer .form-row .profile {
    height: 180px;
}

.replyAnswer .form-row .profile label {
    line-height: 180px;
}
.replyAnswer .form-row .profile textarea{
    height: 100%;
}
.idea{
    margin-top:15px;
    position: relative;
}
.idea .num{
    position: absolute;
    right:0;
    top:-20px;
}
.check{
    overflow: hidden;
}
.check .radio input[type="radio"]{
    left: 0px;
    top: 3px;
}
.check .radio:first-child{
     margin-left: 20px;
     margin-right:50px;
 }
.check .checkb:first-child{
    margin-left: 20px;
    margin-right:30px;
}
.check .checkb input,.check .checkb span{
    display: inline-block;
    vertical-align: middle;
}
.check .checkb input{
    width: 17px;
    height: 17px;
}
.question-content p,.idea p,.refuse p{
    border:1px solid #B7D5EA;
    line-height: 20px;
}
.answering{
    height: 80px;
    line-height: 80px;
}
.replyAnswer .form-row .form-group .form-control-wrap.isRecommend{
    padding-top: 15px;
}
.replyAnswer .form-row .form-group .form-control-wrap.isFrist{
    padding-top: 12px;
}