.answerNotCheckedInfo .base-txt{
  height:46px;
  line-height:46px;
}
.answerNotCheckedInfo .form{
  border-top: 1px solid;
  border-right: 1px solid;
  padding: 0;
}

.answerNotCheckedInfo .form-row{
  border-bottom: 1px solid;
}

.answerNotCheckedInfo .form-row .form-group {
  margin-bottom: 0;
  height: 50px;
}
.answerNotCheckedInfo .form-row .form-group label{
  text-align: center;
  display: block;
  height: 100%;
  line-height: 50px;
  background-color: #e4e4e4;
  padding: 0;
  border-left: 1px solid;
  border-right: 1px solid;
}
.answerNotCheckedInfo .form-row .form-group .form-control-wrap {
  height: 100%;
  padding: 8px 15px;
  /*border: 1px solid;*/
}
.answerNotCheckedInfo .form-row .form-group .form-control-wrap .form-control {
  width: 80%;
}

.answerNotCheckedInfo .form-row .form-group .good-domain span {
  margin-top: 7px;
}

.answerNotCheckedInfo .form-row .card {
  height: 114px;
}
.answerNotCheckedInfo .form-row .card label {
  line-height: 114px;
}
.answerNotCheckedInfo .form-row .card .card-wrap {
  width: 15%;
  cursor: pointer;
}

.answerNotCheckedInfo .form-row .profile, .answerNotCheckedInfo .form-row .checkStatus {
  height: 180px;
}

.answerNotCheckedInfo .form-row .profile label, .answerNotCheckedInfo .form-row .checkStatus label {
  line-height: 180px;
}
.answerNotCheckedInfo .form-row .profile textarea{
  height: 100%;
}


.answerNotCheckedInfo .form-row .checkStatus textarea{
  height:120px;
}


.big-img-modal .modal-body {
  max-height: 580px;
  overflow: auto;
}

.big-img-modal .modal-body .pic img{
  width: 100%;
}