.modal-wrap{
  width: 800px;
  margin: 100px auto;
}

.screen-table caption{
  text-align: left;
}

.screen-table th{
  text-align: center;
}

.screen-table .min200{
  min-width: 200px;
}
.screen-table .hide{
  visibility: hidden;
}